In [2]:
import numpy as np
import pandas as pd
import os
import spacy
nlp = spacy.load("en_core_web_sm")

df = pd.read_csv(os.path.join('..', 'datasets', 'stock_news.csv'))
df.head(2)

,stock,title,text,date,time,am_pm
0,AAPL,BofA expects 'strong refresh cycle' for iPhone...,Citing findings from their global smartphone...,2024-02-28,07:49,AM
1,AAPL,Apple cancels decade-long electric car project...,By Stephen Nellis and Shivansh Tiwary(Reuter...,2024-02-27,15:47,PM

In [6]:
def load_dataset():
    df = pd.read_csv(os.path.join('..', 'datasets', 'stock_news.csv'))
    # create a new dataset with columns news and label
    temp_df = pd.DataFrame(columns=['news', 'label'])
    # concat stock, title and text into news
    temp_df['news'] = df['title'] + ' ' + df['text']
    temp_df.head(2)
    return temp_df

def tokenize_text(df):
    df["tokens"] = df.news.str.lower().str.strip().apply(lambda x: [token.text.strip() for token in nlp(x) if token.text.isalnum()])
    return df


df = load_dataset()
df = tokenize_text(df)
df.head(2)

,news,label,tokens
0,BofA expects 'strong refresh cycle' for iPhone...,NaN,"[bofa, expects, strong, refresh, cycle, for, i..."
1,Apple cancels decade-long electric car project...,NaN,"[apple, cancels, decade, long, electric, car, ..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   news    52 non-null     object
 1   label   0 non-null      object
 2   tokens  52 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [8]:
for token_list in df.tokens:
    print(len(token_list))

166
513
416
443
655
251
370
379
350
188
154
514
529
245
421
629
421
249
522
375
487
556
728
327
322
243
437
736
319
370
430
404
296
593
696
575
142
437
163
704
258
946
268
292
626
244
1283
407
839
312
308
395