In [39]:
import yfinance as yf
import pandas as pd
import datetime
import utils

In [36]:
df = pd.read_csv('../datasets/stocks.csv')
stock_names = df['ticker']
df.head()

,company,stock,link,ticker
0,Tesla Inc,Tesla,https://www.investing.com/equities/tesla-motors,TSLA
1,Apple Inc,Apple,https://www.investing.com/equities/apple-compu...,AAPL
2,Beyond Meat Inc,Beyond Meat,https://www.investing.com/equities/beyond-meat...,BYND
3,Coinbase Global Inc,Coinbase Global,https://www.investing.com/equities/coinbase-gl...,COIN
4,Salesforce Inc,Salesforce Inc,https://www.investing.com/equities/salesforce-com,CRM

In [46]:
def get_stock_info(ticker, start_date, end_date):
    # Fetch stock data
    stock_data = yf.download(ticker, start=start_date, end=end_date, progress=False)
    # Extract high, low, close, and other information
    high = stock_data['High']
    low = stock_data['Low']
    close = stock_data['Close']
    volume = stock_data['Volume']
    open = stock_data['Open']    
    return high, low, close, volume, open

In [49]:
start_date = '2023-01-01'
end_date = datetime.datetime.now().strftime('%Y-%m-%d')
for stock_name in stock_names:
    high, low, close, volume, open = get_stock_info(stock_name, start_date, end_date)
    df = pd.DataFrame({'high': high, 'low': low, 'close': close, 'volume': volume, 'open': open})
    utils.create_path(f'../datasets/stock_data/')
    df.to_csv(f'../datasets/stock_data/{stock_name}.csv')

In [50]:
df.head()

                  high         low       close   volume        open
Date
2023-01-03  525.630005  512.159973  518.640015  3525600  525.130005
2023-01-04  518.640015  500.600006  504.500000  5070400  518.640015
2023-01-05  502.089996  488.500000  489.959991  5497100  501.010010
2023-01-06  492.869995  487.540009  490.000000  4841300  491.589996
2023-01-09  499.989990  488.540009  490.059998  3702800  492.410004